.Interview {
  h2 {
    margin-top: 10px;
  }
  .stopwatch-timer {
    font-size: 76px;
    font-weight: 100;
    margin-bottom: 5px;
  }
  .buttons {
    .Button {
      margin: 5px;
    }
  }
}
@media screen and (min-width: 480px) {
  .Interview {
    padding-left: 20px;
    .stopwatch-timer {
      margin-top: -15px;
      margin-bottom: 30px;
    }
  }
}
@media screen and (max-width: 480px) {
  .Interview {
    text-align: center;
    padding-top: 40px;
    .stopwatch-timer {
      line-height: 160px;
      border: solid #cecfd0;
      border-width: 1px 0;
      width: 90%;
    }
    .buttons {
      .Button {
        font-size: 20px;
      }
    }
  }
}
