@import '../../constants.css';

.search {
	position: relative;
	height: 35px;
	background: $grey;
	display: flex;
	padding-right: 5px;
	.search-input {
		margin: 0;
		background: none;
		flex: 1;
		font-size: 16px;
		padding-left: 10px;
	}
	.search__button {
		position: relative;
		right: 0;
		width: 25px;
		height: 100%;
	}
	.filter {
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			width: 22px;
		}
	}
	.clear {
		&:after {
			background: #5f5f5f;
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 1.5px;
			height: 0;
			border-radius: 1.5px;
			transition: transform 0.17s cubic-bezier(.46,.02,.04,.99), height 0.17s cubic-bezier(.46,.02,.04,.99);
		}
		&:before {
			background: #5f5f5f;
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 1.5px;
			height: 0;
			border-radius: 1.5px;
			transition: transform 0.17s cubic-bezier(.46,.02,.04,.99), height 0.17s cubic-bezier(.46,.02,.04,.99);
		}
		&.active {
			&:after {
			height: 55%;
				transform: translate(-50%, -50%) rotate(-45deg);
			}
			&:before {
			height: 55%;
				transform: translate(-50%, -50%) rotate(45deg);
			}
		}
	}
}

