@import '../constants.css';
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.App {
	height: 100vh;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: column;
	-moz-flex-flow: column;
	-ms-flex-flow: column;
	-o-flex-flow: column;
	flex-flow: column;
}

.top-nav {
	background: $black;
  height: 70px;
  display: flex;
  .top-nav__item {
		flex: 1;
		line-height: 70px;
		&.title {
			text-align: center;
			color: $white;
			font-size: 16px;
			font-weight: 700;
		}
  }
  .burger {
  	height: 20px;
  	margin: 25px 15px;
  }
}

.bottom-nav {
	background: $grey;
  height: 45px;
  width: 100%;
  position: fixed;
  bottom: 0;
}