@import '../constants.css';

$background: #eceae8;

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
  margin: 0;
  padding: 0;
  /* font-family: $font-family; */
  /* background: $background; */
  & > div {
  	width: 100%;
  	height: 100%;
  }
}

ul {
	margin: 0;
	padding: 0;
}

li {
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0 10px;
	font-weight: 300;
	color: $black;
	font-size: 30px;
}

.QRScannerFull {
	height: 100vh;
	width: 100vw;
	position: fixed;
	z-index: 500;
}

/* $dark: #4e4b4a; */
.App {
	width: 100%;
	height: 100%;
	display: flex;
	& > .side-nav {
		background: $black;
		display: flex;
		flex-direction: column;
		flex: 0 0 $side-nav-width;
		height: 100%;
		color: $text-light;
		z-index: 1;
		.logo {
			position: relative;
			flex: 0 0 $nav-width;
			/* background: $primary; */
			z-index: 2;
			img {
				width: 50px;
				height: 50px;
				margin: 20px;
			}
		}

		& > .nav__content {
			flex: 1;
			padding-top: 20px;
			/* box-shadow: 0 0 15px rgba(20,20,0,0.15); */
		}
	}
	& > .content {
		flex: 1;
		display: flex;
		flex-flow: column;
		.content__topbar {
			background: #fff;
			display: flex;
			height: $nav-width;
			width: 100%;
			/* box-shadow: 0 0 15px rgba(20,20,0,0.07); */
			z-index: 1;
			/* border-bottom: $text-dark 1px solid; */
			.topbar__content {
				flex: 1;
			}
			.topbar__buttons {
				color: $text-dark;
				margin-right: 30px;
				.button {
					height: 100%;
					display: flex;
					align-items: center;
					span {
						padding: 14px;
						cursor: pointer;
						position: relative;
						&:after {
						  content: '';
						  position: absolute;
						  bottom: 20%;
						  left: 50%;
						  height: 2px;
						  width: 0;
						  background: $text-dark;
						  transform: translateX(-50%);
						  opacity: 0;
						  /* border-radius: 3px; */
						  transition: opacity 0.25s $snazzy-ease, width 0.25s $snazzy-ease;
						}
						&:hover:after {
						  opacity: 1;
						  width: 50%;
						}
					}
				}
			}
		}
		.content__container {
			flex: 1;
			& > div {
				width: calc(100% - $side-nav-width);
				transition: width 0.5s cubic-bezier(.46,.02,.04,.99);
			}
		}
	}
	.nav__menu-items {
		list-style: none;
		$menu-item-transition: 0.3s $snazzy-ease;
		.nav__menu-item {
			/* text-align: center; */
			margin: 10px 0;
			padding-left: 15px;
			position: relative;
			cursor: pointer;
			transition: color $menu-item-transition;
			display: flex;
			align-content: center;
			height: 30px;
			.menu-item__icon {
				font-size: 22px;
				line-height: 30px;
			}
			.menu-item__label {
				margin-left: 10px;
				height: 100%;
				line-height: 30px;
			}
			&:after {
				background: $primary;
				content: '';
				height: 100%;
				width: 0;
				position: absolute;
				left: 0;
				top: 0;
				transition: width $menu-item-transition;
			}
			&:hover {
				color: #fffdf9e0;
				&:after {
					width: 4px;
				}
			}
			&.active {
				color: #fffdf9e0;
				&:after {
					width: 4px;
				}
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.content__container > div {
		width: 100%;
	}
}

@media screen and (max-width: 480px) {
	.App {
		display: flex;
		flex-flow: column;
	}
}
.top-bar-hider {
	width: 100%;
}

.bottom-bar-hider {
	position: fixed;
	bottom: 0;
	width: 100%;
}

.bottom-nav {
	display: flex;
	background: $grey;
	height: 45px;
	.bottom-nav__btn {
		height: 100%;
		flex: 1;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		i {
			width: 30px;
			margin: 0 auto;
			font-size: 26px;
		}
	}
}