.App {
	height: 100vh;
	display: flex;
	flex-flow: column;
}

.menu {
	height: 100vh;
	width: 250px;
	position: fixed;
	left: -260px;
	background: #fff;
	z-index: 10;
	transition: left 0.55s cubic-bezier(.46,.02,.04,.99), box-shadow 0.55s cubic-bezier(.46,.02,.04,.99);
	&.show {
		left: 0;
		box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
	}
}

.sidebar {
	width: 200px;
	max-width: 272px;
	background: $black;
}

.main {
	flex: 1;
	/* height: 100vh; */
	display: flex;
	/* flex-flow: column; */
}

.shade {
	background: none;
	position: fixed;
	z-index: 9;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: background 0.55s ease;
	pointer-events: none;
	&.show {
		background: rgba(0,0,0,0.4);
		pointer-events: auto;
	}
}

.bottom-nav {
	background: $grey;
  height: 45px;
  width: 100%;
}

.logout {
	color: #fff;
	cursor: pointer;
	user-select: none;
	float: right;
	margin-right: 12px;
	text-decoration: none;
}

.QRScannerFull {
	height: 100vh;
	width: 100vw;
	position: fixed;
}

.bottom-nav {
	display: flex;
	.bottom-nav__btn {
		height: 100%;
		flex: 1;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		i {
			width: 30px;
			margin: 0 auto;
			font-size: 26px;
		}
	}
}

.content-container {
	flex: 1;
	overflow: auto;
}

.bottom-bar-nav {
	position: fixed;
	bottom: 0;
}

@media screen and (min-width: 680px) {
	.main .content-container > div {
		padding: 10px;
	}
}

.ant-menu {
	background: $black;
	color: $white;
	border-bottom-color: $black;
	a {
		color: #7e8486 !important;	
	}
	.ant-menu-item {
		box-sizing: border-box !important;
	}
	.ant-menu-item-selected, .ant-menu-item-active {
		color: $primary !important;
		border-bottom-color: $primary !important;
		a {
			color: $primary !important;	
		}
	}
}