.QRMain {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	height: 100%;
	.code-container {
		/* margin: 0 auto; */
		width: 100%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-flow: row;
		justify-content: center;
		align-content: center;
		align-items: center;
	}
}