/* .scanner-container {
	background: #000;
	overflow: hidden;
	height: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
  justify-content: center;
	-webkit-transition: height 0s 0.4s linear;
	-o-transition: height 0s 0.4s linear;
	transition: height 0s 0.4s linear;
} */

.finder {
	position: absolute;
	top: 50%;
	left: 50%;
	opacity: 0;
	width: 101vw;
	height: 101vw;
	transform: translate(-50%, -50%);
	/* max-width: 300px;
	max-height: 300px; */
	-webkit-transition: height 0.4s cubic-bezier(.36,0,0,1), width 0.4s cubic-bezier(.36,0,0,1), opacity 0.4s cubic-bezier(.36,0,0,1), transform 0.4s cubic-bezier(.36,0,0,1);
	-o-transition: height 0.4s cubic-bezier(.36,0,0,1), width 0.4s cubic-bezier(.36,0,0,1), opacity 0.4s cubic-bezier(.36,0,0,1), transform 0.4s cubic-bezier(.36,0,0,1);
	transition: height 0.4s cubic-bezier(.36,0,0,1), width 0.4s cubic-bezier(.36,0,0,1), opacity 0.4s cubic-bezier(.36,0,0,1), transform 0.4s cubic-bezier(.36,0,0,1);
}

.QRScannerTest {
	overflow: hidden;
	position: fixed;
	top: 50%;
	left: 0;
	width: 100vw;
	height: 10px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 10;
	-webkit-transition: height 0.4s cubic-bezier(.36,0,0,1);
	-o-transition: height 0.4s cubic-bezier(.36,0,0,1);
	transition: height 0.4s cubic-bezier(.36,0,0,1);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
  justify-content: center;
	/* background: #f24e33; */
	background: #000;
	&:hover {
		height: 100vh;
		/* .scanner-container {
			height: 100%;
			-webkit-transition: height 0.5s 0.15s cubic-bezier(.36,0,0,1);
			-o-transition: height 0.5s 0.15s cubic-bezier(.36,0,0,1);
			transition: height 0.5s 0.15s cubic-bezier(.36,0,0,1);
		} */
		.finder {
			opacity: 1;
			width: 40vw;
			height: 40vw;
			/* transform: translate(-50%, -50%) rotate(90deg); */
		}
	}
}


.qr-scanner {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 100vw;
}

.corner {
	position: absolute;
	width: 35%;
	height: 35%;
	border: 3px #fff solid;
	&.tl {
		border-bottom: none;
		border-right: none;
	}
	&.tr {
		border-bottom: none;
		border-left: none;
		right: 0;
	}
	&.bl {
		border-top: none;
		border-right: none;
		bottom: 0;
	}
	&.br {
		border-top: none;
		border-left: none;
		right: 0;
		bottom: 0;
	}
}