.QRScanner {
	flex-grow: 1;
	-webkit-flex-flow: column;
	-moz-flex-flow: column;
	-ms-flex-flow: column;
	-o-flex-flow: column;
	flex-flow: column;
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.back {
	position: fixed;
	top: 0;
	left: 0;
	width: 36px;
	height: 36px;
	padding: 12px 3px;
	color: #fff;
	font-size: 10px;
}


.qr-scanner {
	display: inline-block;
	max-width: 620px;
	margin: 0 auto;
}

.scanner-container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: column;
	-moz-flex-flow: column;
	-ms-flex-flow: column;
	-o-flex-flow: column;
	flex-flow: column;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	flex: 1;
}

.scanner-spacer {
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	flex: 1;
	background: #ccc;
}

/* .finder {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50vw;
	height: 50vw;
	max-width: 300px;
	max-height: 300px;
} */

.corner {
	position: absolute;
	width: 35%;
	height: 35%;
	border: 3px #bbb solid;
	&.tl {
		border-bottom: none;
		border-right: none;
	}
	&.tr {
		border-bottom: none;
		border-left: none;
		right: 0;
	}
	&.bl {
		border-top: none;
		border-right: none;
		bottom: 0;
	}
	&.br {
		border-top: none;
		border-left: none;
		right: 0;
		bottom: 0;
	}
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	.content {
		position: absolute;
		pointer-events: auto;
		background: #fff;
		left: 0;
		right: 0;
		padding: 10px;
		bottom: -100%;
		transition: bottom 0.5s cubic-bezier(.46,.02,.04,.99);
		padding-bottom: 5vh;
	}
	&.show {
		.shadow {
			opacity: 1;
			pointer-events: auto;
		}
		.content {
			bottom: 0;
		}
	}
}

@media screen and (min-width: 520px) {
	.modal .content {
		top: 40%;
		left: 50%;
		right: auto;
		bottom: auto;
		opacity: 0;
		width: 350px;
		transition: opacity 0.5s cubic-bezier(.46,.02,.04,.99), top 0.5s cubic-bezier(.46,.02,.04,.99);
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
	.modal.show .content {
		top: 30%;
		right: auto;
		bottom: auto;
		opacity: 1;
	}
}