.StudentMain {
	height: 100vh;
}
.qr-scanner {
	display: inline-block;
}

.scanner-container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-flow: column;
	-moz-flex-flow: column;
	-ms-flex-flow: column;
	-o-flex-flow: column;
	flex-flow: column;
	height: 100%;
	/* animation: unhide 1s cubic-bezier(.46,.02,.04,.99);
  animation-fill-mode: forwards;
	&.hide {
		animation: hide 1s cubic-bezier(.46,.02,.04,.99);
    animation-fill-mode: forwards;
	} */
}

.scanner-spacer {
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	flex: 1;
	background: #ccc;
}

/* .line-container {
	background: #fff;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	height: 90px;
	box-shadow: 0 0 30px rgba(0,0,0,0.15);
} */

.color-bar {
	width: 25%;
	height: 100%;
	background: #fa3;
	float: right;
}

/* .line-content {
 position: absolute;
 overflow: hidden;
 height: 100%;
 width: 100%;
} */

.finder {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50vw;
	height: 50vw;
	max-width: 300px;
	max-height: 300px;
	-webkit-transition: all 0.5s cubic-bezier(.46,.02,.04,.99);
  -o-transition: all 0.5s cubic-bezier(.46,.02,.04,.99);
  transition: all 0.5s cubic-bezier(.46,.02,.04,.99);
	&.hidden {
		opacity: 0;
		width: 0;
		height: 0;
	}
}

.corner {
	position: absolute;
	width: 35%;
	height: 35%;
	border: 3px #bbb solid;
	&.tl {
		border-bottom: none;
		border-right: none;
	}
	&.tr {
		border-bottom: none;
		border-left: none;
		right: 0;
	}
	&.bl {
		border-top: none;
		border-right: none;
		bottom: 0;
	}
	&.br {
		border-top: none;
		border-left: none;
		right: 0;
		bottom: 0;
	}
}

.qr-scanner {
	max-width: 620px;
	margin: 0 auto;
}

@keyframes hide {
    0%   {
    	opacity: 1;
    	display: block;
    }
    99% {
    	opacity: 0;
    	display: block;
    }
    100% {
    	opacity: 0;
    	display: none;
    }
}

@keyframes unhide {
    0%   {
    	opacity: 0;
    	display: none;
    }
    1% {
    	opacity: 0;
    	display: block;
    }
    100% {
    	opacity: 1;
    	display: block;
    }
}