.Student {
	.entry {
		margin-left: 50px;
		margin-bottom: 25px;
	}
	.name {
		margin-top: 10px;
		margin-bottom: 30px;
	}
}

.interests, .threads {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-left: 50px;
	margin-bottom: 25px;
}

.interest, .thread {
	margin-right: 20px;
}