.Student {
	.entry {
		margin-left: 50px;
		margin-bottom: 25px;
	}
	.name {
		margin-top: 10px;
		margin-bottom: 30px;
	}
}

.interests, .threads
{
	flex-direction: row;
	margin-left: 50px;
	margin-bottom: 25px;
}