@import '../../constants.css';

.Button {
	background: none;
	border: solid 1px $primary;
	color: $primary;
	cursor: pointer;
	font-family: $font-family;
	font-size: 16px;
	overflow: hidden;
	padding: 5px 8px;
	position: relative;
	transition: background 0.25s ease;
	&:hover {
		background: $primary;
		color: $white;
	}
	&:disabled {
		color: $grey;
		border: solid 1px $grey;
	}
	&.green {
		border-color: #4bd761;
		color: #4bd761;
		&:hover {
			background: #4bd761;
			color: $white;
		}
	}
	&.red {
		border-color: #fd3d2a;
		color: #fd3d2a;
		&:hover {
			background: #fd3d2a;
			color: $white;
		}
	}
}

/*#f24e33;*/