@import '../../constants.css';
.RecruiterBatch {
	.Modal__content > div {
		background: #fff !important;
		padding: 15px;
		min-width: 300px;
		.buttons {
			margin-top: 10px;
			width: 100%;
			display: flex;
			.Button {
				flex: 1;
				margin: 0 5px;
			}
		}
	}
	h3 {
		text-align: center;
		margin: 20px 0;
		color: #888;
		font-weight: 400;
	}
	.batch {
		list-style: none;
		padding-left: 20px;
		margin: 0;
		.Loading {
			margin: 20px 46px;
		}
		/* border-bottom: 1px #ddd solid; */
	}
	h2 {
		text-transform: uppercase;
		font-size: 12px;
		margin: 5px 10px;
		color: #292929;
		padding-left: 20px;
	}
}



.stat__entry {
	h2 {
		text-align: center;
		margin: 10px 0 5px 0;
	}
	.data {
		font-size: 30px;
		font-weight: 300;
		text-align: center;
		/* margin-bottom: 10px; */
	}
}

.batch__item {
	/* border-top: 1px #ddd solid; */
	/* background: #eee; */
	color: #777;
	font-weight: 300;
	font-size: 16px;
	padding: 5px 10px;
	text-align: left;
	cursor: pointer;
	font-size: 20px;
	position: relative;
	&:after {
		content: '';
		position: absolute;
		top: 15px;
		left: -10px;
		width: 0; 
	  height: 0; 
	  border-top: 3px solid transparent;
	  border-bottom: 3px solid transparent;
	  border-left: 4px solid #777;
		opacity: 0;
	  transition: left 0.35s cubic-bezier(.6,.05,.19,.97), opacity 0.35s cubic-bezier(.6,.05,.19,.97);
	}
	&:hover {
		&:after {
			left: -2px;
			opacity: 1;
		}
	}
}

.shadow {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.5);
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.5s cubic-bezier(.46,.02,.04,.99);
}

@media screen and (min-width: 480px) {
	.batch__item {
		padding: 5px 8px;
	}
	.modal .content {
		top: 40%;
		left: 50%;
		right: auto;
		bottom: auto;
		opacity: 0;
		width: 350px;
		transition: opacity 0.5s cubic-bezier(.46,.02,.04,.99), top 0.5s cubic-bezier(.46,.02,.04,.99);
		transform: translate(-50%, -50%);
	}
	.modal.show .content {
		top: 30%;
		right: auto;
		bottom: auto;
		opacity: 1;
	}
	.RecruiterBatch {
		h3 {
			text-align: left;
			margin: 20px;
		}
	}
}

.qr-link {
	margin: 0 auto;
	margin-top: 180px;
	padding: 10px;
	color: #222;
	border: 1px solid #222;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	&:hover, &:active {
		background: #222;
	}
}