.StudentMain {
	flex-grow: 1;
	flex-flow: column;
	position: relative;
	display: flex;
	h1 {
		margin-top: 5px;
		font-size: 18px;
		/* font-weight: 400; */
		color: #666;
	}
}

.show-camera {
	margin: 0 auto;
	margin-top: 180px;
	padding: 10px;
	color: #222;
	border: 1px solid #222;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	&:hover, &:active {
		background: #222;
	}
}


.line-details {
	margin-top: 20px;
	display: flex;
	flex-flow: row;
	max-width: 300px;
	margin: 20px auto 0 auto;
	h2 {
		margin: 0 10px;
	}
	.company {
		-webkit-flex: 4;
		-moz-flex: 4;
		-ms-flex: 4;
		-o-flex: 4;
		flex: 4;
	}
	.wait {
		-webkit-flex: 1;
		-moz-flex: 1;
		-ms-flex: 1;
		-o-flex: 1;
		flex: 1;
		text-align: right;
		.min {
			font-size: 16px;
			font-weight: 400;
			text-transform: lowercase;
		}
	}
	.data {
		margin: 0 10px;
		text-transform: uppercase;
		font-size: 30px;
		font-weight: 300;
	}
}

/* .line-container {
	background: #fff;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	height: 90px;
	box-shadow: 0 0 30px rgba(0,0,0,0.15);
} */

.color-bar {
	width: 25%;
	height: 100%;
	background: #fa3;
	float: right;
}

/* .line-content {
 position: absolute;
 overflow: hidden;
 height: 100%;
 width: 100%;
} */

.finder {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50vw;
	height: 50vw;
	max-width: 300px;
	max-height: 300px;
	-webkit-transition: all 0.5s cubic-bezier(.46,.02,.04,.99);
  -o-transition: all 0.5s cubic-bezier(.46,.02,.04,.99);
  transition: all 0.5s cubic-bezier(.46,.02,.04,.99);
	&.hidden {
		opacity: 0;
		width: 0;
		height: 0;
	}
}

.corner {
	position: absolute;
	width: 35%;
	height: 35%;
	border: 3px #bbb solid;
	&.tl {
		border-bottom: none;
		border-right: none;
	}
	&.tr {
		border-bottom: none;
		border-left: none;
		right: 0;
	}
	&.bl {
		border-top: none;
		border-right: none;
		bottom: 0;
	}
	&.br {
		border-top: none;
		border-left: none;
		right: 0;
		bottom: 0;
	}
}

.num-ending {
	font-size: 10px;
	font-weight: 400;
}