.Student {
	.entry {
		margin-left: 20px;
		margin-bottom: 25px;
	}
	.name {
		margin-top: 10px;
		margin-bottom: 30px;
	}
}

.interests, .threads {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-left: 20px;
	margin-bottom: 25px;
}

.interest, .thread {
	margin: 0 3px;
	padding: 5px;
	background: #ddd;
}

.placeholder {
	color: #999;
	margin-left: 20px;
}