@import '../constants.css';

.Button {
	background: none;
	border: solid 1px $primary;
	color: $primary;
	cursor: pointer;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	overflow: hidden;
	padding: 5px 8px;
	position: relative;
	transition: background 0.25s ease;
	&:hover {
		background: $primary;
		color: $white;
	}
}

/*#f24e33;*/