@import '../constants.css';

.Button {
	background: none;
	border: solid 1px $primary;
	color: $primary;
	cursor: pointer;
	font-family: $font-family;
	font-size: 16px;
	overflow: hidden;
	padding: 5px 8px;
	position: relative;
	transition: background 0.25s ease;
	&:hover {
		background: $primary;
		color: $white;
	}
	&:disabled {
		color: $grey;
		border: solid 1px $grey;
	}
}

/*#f24e33;*/