.Button {
	background: none;
	border: solid 1px #ea3;
	color: #ea3;
	cursor: pointer;
	font-family: 'Chivo', sans-serif;
	font-size: 16px;
	overflow: hidden;
	padding: 5px 8px;
	position: relative;
	-webkit-transition: background 0.25s ease;
	-o-transition: background 0.25s ease;
	transition: background 0.25s ease;
	&:hover {
		background: #ea3;
		color: #fff;
	}
}

/*#f24e33;*/