.Warning {
  color: #e43;
  font-size: 12px;
  line-height: 12px;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.2s cubic-bezier(.46,.02,.04,.99);
  -o-transition: height 0.2s cubic-bezier(.46,.02,.04,.99);
  transition: height 0.2s cubic-bezier(.46,.02,.04,.99);
  .error-icon {
    font-size: 16px;
  }
  .warning__text {
    position: relative;
    top: 2px;
  }
  &.show {
    height: 16px;
  }
}