@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

$black: #1d1d1e;
$grey: rgb(226, 226, 226);
$white: #fff;
$primary: #ea3;

$font-family: 'Lato', sans-serif;
/* #b7b7bc; */